**Docs:** 
- https://github.com/thinh-vu/vnstock
- https://vnstocks.com/docs/tai-lieu

In [1]:
import vnstock
import inspect

# Get all classes in this library
classes = inspect.getmembers(vnstock, inspect.isclass)
for name, cls in classes:
    print(f"{name:<10}: {cls}")

Company   : <class 'vnstock.api.company.Company'>
Finance   : <class 'vnstock.api.financial.Finance'>
Fund      : <class 'vnstock.explorer.fmarket.fund.Fund'>
Listing   : <class 'vnstock.api.listing.Listing'>
Quote     : <class 'vnstock.api.quote.Quote'>
Screener  : <class 'vnstock.api.screener.Screener'>
Trading   : <class 'vnstock.api.trading.Trading'>
Vnstock   : <class 'vnstock.common.vnstock.Vnstock'>

In [2]:
from vnstock import Company, Finance, Fund, Listing, Quote, Screener, Trading, Vnstock

# Get all functions in each class
for class_name, cls in classes:
    print(f"\nClass: {class_name}")
    methods = inspect.getmembers(cls, inspect.isfunction)
    for method_name, method in methods:
        print(f"{method_name:<25}: {method}")

Class: Company
__getattr__              : <function BaseAdapter.__getattr__ at 0x000001D0EEFAECB0>
__init__                 : <function Company.__init__ at 0x000001D0EEFAE9E0>
affiliate                : <function Company.affiliate at 0x000001D0EEFC4160>
events                   : <function Company.events at 0x000001D0EEFC45E0>
history                  : <function BaseAdapter.history at 0x000001D0EEFAEE60>
news                     : <function Company.news at 0x000001D0EEFC43A0>
officers                 : <function Company.officers at 0x000001D0EEFAFC70>
overview                 : <function Company.overview at 0x000001D0EEFAF7F0>
shareholders             : <function Company.shareholders at 0x000001D0EEFAFA30>
subsidiaries             : <function Company.subsidiaries at 0x000001D0EEFAFEB0>

Class: Finance
__getattr__              : <function BaseAdapter.__getattr__ at 0x000001D0EEFAECB0>
__init__                 : <function Finance.__init__ at 0x000001D0DDBC3130>
balance_sheet            : <function Finance.balance_sheet at 0x000001D0EEFC48B0>
cash_flow                : <function Finance.cash_flow at 0x000001D0EEFC4D30>
history                  : <function BaseAdapter.history at 0x000001D0EEFAEE60>
income_statement         : <function Finance.income_statement at 0x000001D0EEFC4AF0>
ratio                    : <function Finance.ratio at 0x000001D0EEFC4F70>

Class: Fund
__init__                 : <function Fund.__init__ at 0x000001D0EF148310>
asset_holding            : <function Fund.asset_holding at 0x000001D0EF149090>
filter                   : <function Fund.filter at 0x000001D0EF148C10>
industry_holding         : <function Fund.industry_holding at 0x000001D0EF148E50>
listing                  : <function Fund.listing at 0x000001D0EF148550>
nav_report               : <function Fund.nav_report at 0x000001D0EF148F70>
top_holding              : <function Fund.top_holding at 0x000001D0EF148D30>

Class: Listing
__getattr__              : <function BaseAdapter.__getattr__ at 0x000001D0EEFAECB0>
__init__                 : <function Listing.__init__ at 0x000001D0EEFC5090>
all_bonds                : <function Listing.all_bonds at 0x000001D0EEFC6290>
all_covered_warrant      : <function Listing.all_covered_warrant at 0x000001D0EEFC60E0>
all_future_indices       : <function Listing.all_future_indices at 0x000001D0EEFC5D80>
all_government_bonds     : <function Listing.all_government_bonds at 0x000001D0EEFC5F30>
all_symbols              : <function Listing.all_symbols at 0x000001D0EEFC52D0>
history                  : <function BaseAdapter.history at 0x000001D0EEFAEE60>
industries_icb           : <function Listing.industries_icb at 0x000001D0EEFC5990>
symbols_by_exchange      : <function Listing.symbols_by_exchange at 0x000001D0EEFC5750>
symbols_by_group         : <function Listing.symbols_by_group at 0x000001D0EEFC5BD0>
symbols_by_industries    : <function Listing.symbols_by_industries at 0x000001D0EEFC5510>

Class: Quote
__getattr__              : <function BaseAdapter.__getattr__ at 0x000001D0EEFAECB0>
__init__                 : <function Quote.__init__ at 0x000001D0EEFAEB00>
history                  : <function Quote.history at 0x000001D0EEFAEF80>
intraday                 : <function Quote.intraday at 0x000001D0EEFAF1C0>
price_depth              : <function Quote.price_depth at 0x000001D0EEFAF400>

Class: Screener
__init__                 : <function Screener.__init__ at 0x000001D0EEFC7760>
stock                    : <function Screener.stock at 0x000001D0EC043490>

Class: Trading
__getattr__              : <function BaseAdapter.__getattr__ at 0x000001D0EEFAECB0>
__init__                 : <function Trading.__init__ at 0x000001D0EEFC63B0>
foreign_trade            : <function Trading.foreign_trade at 0x000001D0EEFC6EF0>
history                  : <function BaseAdapter.history at 0x000001D0EEFAEE60>
insider_deal             : <function Trading.insider_deal at 0x000001D0EEFC7370>
order_stats              : <function Trading.order_stats at 0x000001D0EEFC75B0>
price_board              : <function Trading.price_board at 0x000001D0EEFC6A70>
price_history            : <function Trading.price_history at 0x000001D0EEFC6CB0>
prop_trade               : <function Trading.prop_trade at 0x000001D0EEFC7130>
side_stats               : <function Trading.side_stats at 0x000001D0EEFC6830>
trading_stats            : <function Trading.trading_stats at 0x000001D0EEFC65F0>

Class: Vnstock
__init__                 : <function Vnstock.__init__ at 0x000001D0EE0D6710>
crypto                   : <function Vnstock.crypto at 0x000001D0EE0D6950>
fund                     : <function Vnstock.fund at 0x000001D0EE0D6A70>
fx                       : <function Vnstock.fx at 0x000001D0EE0D6830>
stock                    : <function Vnstock.stock at 0x000001D0EE0D67A0>
world_index              : <function Vnstock.world_index at 0x000001D0EE0D69E0>

# Get Stock Symbols

In [3]:
listing = Listing(source='VCI')

In [4]:
vn30_symbols = listing.symbols_by_group("VN30")
vn30_symbols

0     ACB
1     BCM
2     BID
3     CTG
4     DGC
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

In [5]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,F88,Công ty Cổ phần Đầu tư F88,Dịch vụ tài chính,Dịch vụ tài chính,Tài chính cá nhân,CT,8000,8700,8770,8773
1,DVT,Trung tâm Đào tạo nghiệp vụ Giao thông vận tải...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
2,AFX,Công ty Cổ phần Xuất Nhập khẩu Nông sản Thực p...,Phân phối thực phẩm & dược phẩm,Bán lẻ,Phân phối thực phẩm,CT,5000,5300,5330,5337
3,AGR,Công ty Cổ phần Chứng khoán AGRIBANK,Dịch vụ tài chính,Dịch vụ tài chính,Môi giới chứng khoán,CK,8000,8700,8770,8777
4,ALT,Công ty Cổ phần Văn hóa Tân Bình,Truyền thông,Truyền thông,"Sách, ấn bản & sản phẩm văn hóa",CT,5000,5500,5550,5557
...,...,...,...,...,...,...,...,...,...,...
1581,DFC,Công ty Cổ phần Xích líp Đông Anh,Kim loại,Tài nguyên Cơ bản,Thép và sản phẩm thép,CT,1000,1700,1750,1757
1582,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1583,XMD,Công ty Cổ phần Xuân Mai - Đạo Tú,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1584,CQT,Công ty Cổ phần Xi măng Quán Triều VVMI,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1585,XPH,Công ty Cổ phần Xà phòng Hà Nội,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng cá nhân,CT,3000,3700,3760,3767

In [6]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

# Get Company Info

In [7]:
import pandas as pd
import warnings
from typing import Callable

warnings.filterwarnings("ignore")

In [8]:
def get_companies(symbols: list[str], source: str) -> list[str]:
    companies = []
    for s in symbols.to_list():
        companies.append(Company(symbol=s, source=source))
    return companies

companies_from_vci = get_companies(vn30_symbols, "VCI")
companies_from_tcbs = get_companies(vn30_symbols, "TCBS")

In [9]:
def get_company_data(func: Callable[..., pd.DataFrame], companies: list[str], **kwargs) -> pd.DataFrame:
    list_df = []
    for c in companies:
        df_c = func(c, **kwargs)
        df_c["symbol"] = c.symbol
        list_df.append(df_c)

    df_data = pd.concat(list_df, axis=0, ignore_index=True)
    return df_data

In [10]:
get_company_data(Company.overview, companies_from_vci).sample(5)

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
28,VPB,76605,7933923601,- Ngày 12/08/1993: Ngân hàng được thành lập d...,Ngân hàng Thương mại Cổ phần Việt Nam Thịnh Vư...,Ngân hàng,Ngân hàng,Ngân hàng,7933923601,79339236010000
8,HDB,70556,3510142254,- Ngày 11/02/1989: Ngân hàng Phát triển Nhà T...,Ngân hàng Thương mại Cổ phần Phát Triển Thành ...,Ngân hàng,Ngân hàng,Ngân hàng,3495060732,35101422540000
27,VNM,76529,2089955445,- Năm 1976: Tiền thân của công ty là Công ty ...,Công ty Cổ phần Sữa Việt Nam (VNM) có tiền thâ...,Sản xuất thực phẩm,Thực phẩm và đồ uống,Thực phẩm,2089955445,20899554450000
10,LPB,71888,2987282100,- 2008: Được thành lập và đặt trụ sở tại tỉnh...,Ngân hàng Thương mại Cổ phần Lộc Phát Việt Nam...,Ngân hàng,Ngân hàng,Ngân hàng,2987282100,29872821000000
21,TPB,75314,2641956196,- Ngày 05/05/2008: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Tiên Phong (TPB) ...,Ngân hàng,Ngân hàng,Ngân hàng,2641956196,26419561960000

In [11]:
get_company_data(Company.overview, companies_from_tcbs).sample(5)

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
19,STB,HOSE,Banks,NH,85855,0.200,1885.2,1885.2,1992,17118,2.7,0.026,0.038,0.539,Sacombank,http://www.sacombank.com.vn,289,8355
7,GVR,HOSE,Chemicals,CT,22532,0.006,4000.0,4000.0,2010,218,2.4,-0.086,-0.153,-0.466,Viet Nam Rubber Group,https://vrg.vn,150,1353
13,MWG,HOSE,Retail,CT,41908,0.481,1478.5,1479.7,2009,63132,2.5,0.074,-0.039,-0.231,Mobile World Investment,https://mwg.vn,253,5379
14,PLX,HOSE,Oil & Gas,CT,15356,0.165,1270.6,1293.9,1995,25967,2.3,-0.060,-0.135,-0.531,Petrolimex,https://www.petrolimex.com.vn,144,533
8,HDB,HOSE,Banks,NH,18427,0.175,3495.1,3510.1,1992,18380,3.0,-0.014,0.054,0.133,HDBank,https://hdbank.com.vn,289,8355

# Get Transactions

In [12]:
quote = Quote(symbol='VCI', source='VCI')

In [13]:
quote.history(start='2020-01-01', end='2025-08-24', interval="1D")

           time   open   high    low  close    volume
0    2020-01-02   7.08   7.08   6.98   7.08     18320
1    2020-01-03   7.08   7.08   6.96   7.08      2450
2    2020-01-06   6.83   7.15   6.83   6.98     22760
3    2020-01-07   7.18   7.18   6.98   6.98     18320
4    2020-01-08   6.83   6.98   6.83   6.98      2640
...         ...    ...    ...    ...    ...       ...
1403 2025-08-18  45.10  45.50  44.20  44.50  13894000
1404 2025-08-19  44.55  47.00  44.10  45.90  21205600
1405 2025-08-20  45.75  46.20  43.00  46.20  15818600
1406 2025-08-21  46.30  48.50  45.90  46.00  22510800
1407 2025-08-22  45.30  45.70  43.00  43.30  15151100

[1408 rows x 6 columns]

In [14]:
quote.history(start='2020-01-01', end='2025-08-24', interval="1m")

                      time   open   high    low  close  volume
0      2023-09-11 09:15:00  35.95  35.95  35.92  35.95   64900
1      2023-09-11 09:16:00  35.95  35.95  35.73  35.92   19300
2      2023-09-11 09:17:00  35.92  35.92  35.80  35.80    8800
3      2023-09-11 09:18:00  35.80  35.80  35.73  35.73   14400
4      2023-09-11 09:19:00  35.73  35.73  35.61  35.65   48400
...                    ...    ...    ...    ...    ...     ...
107739 2025-08-22 14:26:00  44.35  44.40  44.30  44.30   33700
107740 2025-08-22 14:27:00  44.40  44.45  44.40  44.45   35100
107741 2025-08-22 14:28:00  44.45  44.50  44.40  44.45   54800
107742 2025-08-22 14:29:00  44.40  44.45  43.50  43.50  387200
107743 2025-08-22 14:45:00  43.30  43.30  43.30  43.30  720300

[107744 rows x 6 columns]

# Get Financial Reports

In [15]:
finance = Finance(symbol='VCI', source='VCI')

In [16]:
finance.ratio(period='year', lang='vi').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 37 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   (Meta, CP)                                                   13 non-null     object
 1   (Meta, Năm)                                                  13 non-null     int64
 2   (Meta, Kỳ)                                                   13 non-null     int64
 3   (Chỉ tiêu cơ cấu nguồn vốn, (Vay NH+DH)/VCSH)                13 non-null     float64
 4   (Chỉ tiêu cơ cấu nguồn vốn, Nợ/VCSH)                         13 non-null     float64
 5   (Chỉ tiêu cơ cấu nguồn vốn, TSCĐ / Vốn CSH)                  13 non-null     float64
 6   (Chỉ tiêu cơ cấu nguồn vốn, Vốn CSH/Vốn điều lệ)             13 non-null     float64
 7   (Chỉ tiêu hiệu quả hoạt động, Vòng quay tài sản)             13 non-null     float64
 8   (Chỉ tiêu hiệu quả hoạt động, Vòng quay TSCĐ)                13 non-null     float64
 9   (Chỉ tiêu hiệu quả hoạt động, Số ngày thu tiền bình quân)    13 non-null     float64
 10  (Chỉ tiêu hiệu quả hoạt động, Số ngày tồn kho bình quân)     13 non-null     float64
 11  (Chỉ tiêu hiệu quả hoạt động, Số ngày thanh toán bình quân)  13 non-null     float64
 12  (Chỉ tiêu hiệu quả hoạt động, Chu kỳ tiền)                   13 non-null     float64
 13  (Chỉ tiêu hiệu quả hoạt động, Vòng quay hàng tồn kho)        13 non-null     float64
 14  (Chỉ tiêu khả năng sinh lợi, Biên EBIT (%))                  13 non-null     float64
 15  (Chỉ tiêu khả năng sinh lợi, Biên lợi nhuận gộp (%))         13 non-null     float64
 16  (Chỉ tiêu khả năng sinh lợi, Biên lợi nhuận ròng (%))        13 non-null     float64
 17  (Chỉ tiêu khả năng sinh lợi, ROE (%))                        13 non-null     float64
 18  (Chỉ tiêu khả năng sinh lợi, ROIC (%))                       13 non-null     float64
 19  (Chỉ tiêu khả năng sinh lợi, ROA (%))                        13 non-null     float64
 20  (Chỉ tiêu khả năng sinh lợi, EBITDA (Tỷ đồng))               13 non-null     int64
 21  (Chỉ tiêu khả năng sinh lợi, EBIT (Tỷ đồng))                 13 non-null     float64
 22  (Chỉ tiêu khả năng sinh lợi, Tỷ suất cổ tức (%))             13 non-null     float64
 23  (Chỉ tiêu thanh khoản, Chỉ số thanh toán hiện thời)          13 non-null     float64
 24  (Chỉ tiêu thanh khoản, Chỉ số thanh toán tiền mặt)           13 non-null     float64
 25  (Chỉ tiêu thanh khoản, Chỉ số thanh toán nhanh)              13 non-null     float64
 26  (Chỉ tiêu thanh khoản, Khả năng chi trả lãi vay)             13 non-null     float64
 27  (Chỉ tiêu thanh khoản, Đòn bẩy tài chính)                    13 non-null     float64
 28  (Chỉ tiêu định giá, P/B)                                     13 non-null     float64
 29  (Chỉ tiêu định giá, Vốn hóa (Tỷ đồng))                       13 non-null     int64
 30  (Chỉ tiêu định giá, Số CP lưu hành (Triệu CP))               13 non-null     int64
 31  (Chỉ tiêu định giá, P/E)                                     13 non-null     float64
 32  (Chỉ tiêu định giá, P/S)                                     13 non-null     float64
 33  (Chỉ tiêu định giá, P/Cash Flow)                             13 non-null     float64
 34  (Chỉ tiêu định giá, EPS (VND))                               13 non-null     float64
 35  (Chỉ tiêu định giá, BVPS (VND))                              13 non-null     float64
 36  (Chỉ tiêu định giá, EV/EBITDA)                               13 non-null     float64
dtypes: float64(31), int64(5), object(1)
memory usage: 3.9+ KB

In [17]:
finance.ratio(period='year', lang='en').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 37 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   (Meta, ticker)                                               13 non-null     object
 1   (Meta, yearReport)                                           13 non-null     int64
 2   (Meta, lengthReport)                                         13 non-null     int64
 3   (Chỉ tiêu cơ cấu nguồn vốn, (ST+LT borrowings)/Equity)       13 non-null     float64
 4   (Chỉ tiêu cơ cấu nguồn vốn, Debt/Equity)                     13 non-null     float64
 5   (Chỉ tiêu cơ cấu nguồn vốn, Fixed Asset-To-Equity)           13 non-null     float64
 6   (Chỉ tiêu cơ cấu nguồn vốn, Owners' Equity/Charter Capital)  13 non-null     float64
 7   (Chỉ tiêu hiệu quả hoạt động, Asset Turnover)                13 non-null     float64
 8   (Chỉ tiêu hiệu quả hoạt động, Fixed Asset Turnover)          13 non-null     float64
 9   (Chỉ tiêu hiệu quả hoạt động, Days Sales Outstanding)        13 non-null     float64
 10  (Chỉ tiêu hiệu quả hoạt động, Days Inventory Outstanding)    13 non-null     float64
 11  (Chỉ tiêu hiệu quả hoạt động, Days Payable Outstanding)      13 non-null     float64
 12  (Chỉ tiêu hiệu quả hoạt động, Cash Cycle)                    13 non-null     float64
 13  (Chỉ tiêu hiệu quả hoạt động, Inventory Turnover)            13 non-null     float64
 14  (Chỉ tiêu khả năng sinh lợi, EBIT Margin (%))                13 non-null     float64
 15  (Chỉ tiêu khả năng sinh lợi, Gross Profit Margin (%))        13 non-null     float64
 16  (Chỉ tiêu khả năng sinh lợi, Net Profit Margin (%))          13 non-null     float64
 17  (Chỉ tiêu khả năng sinh lợi, ROE (%))                        13 non-null     float64
 18  (Chỉ tiêu khả năng sinh lợi, ROIC (%))                       13 non-null     float64
 19  (Chỉ tiêu khả năng sinh lợi, ROA (%))                        13 non-null     float64
 20  (Chỉ tiêu khả năng sinh lợi, EBITDA (Bn. VND))               13 non-null     int64
 21  (Chỉ tiêu khả năng sinh lợi, EBIT (Bn. VND))                 13 non-null     float64
 22  (Chỉ tiêu khả năng sinh lợi, Dividend yield (%))             13 non-null     float64
 23  (Chỉ tiêu thanh khoản, Current Ratio)                        13 non-null     float64
 24  (Chỉ tiêu thanh khoản, Cash Ratio)                           13 non-null     float64
 25  (Chỉ tiêu thanh khoản, Quick Ratio)                          13 non-null     float64
 26  (Chỉ tiêu thanh khoản, Interest Coverage)                    13 non-null     float64
 27  (Chỉ tiêu thanh khoản, Financial Leverage)                   13 non-null     float64
 28  (Chỉ tiêu định giá, P/B)                                     13 non-null     float64
 29  (Chỉ tiêu định giá, Market Capital (Bn. VND))                13 non-null     int64
 30  (Chỉ tiêu định giá, Outstanding Share (Mil. Shares))         13 non-null     int64
 31  (Chỉ tiêu định giá, P/E)                                     13 non-null     float64
 32  (Chỉ tiêu định giá, P/S)                                     13 non-null     float64
 33  (Chỉ tiêu định giá, P/Cash Flow)                             13 non-null     float64
 34  (Chỉ tiêu định giá, EPS (VND))                               13 non-null     float64
 35  (Chỉ tiêu định giá, BVPS (VND))                              13 non-null     float64
 36  (Chỉ tiêu định giá, EV/EBITDA)                               13 non-null     float64
dtypes: float64(31), int64(5), object(1)
memory usage: 3.9+ KB